@font-face {
    font-family: dosis;
    src: url(../font/Dosis-VariableFont_wght.ttf)
}
/* admin js */
.show{
    transition: 1s ease-in-out;
    transform:translateY(-10px) ;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(43, 41, 41, 0.938) !important;
    padding: 30px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* fin admin js */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dosis;
}
body div.loading{
    overflow: hidden;
    display: flex;
    height: 100vh;
    background-color: white;
    justify-content: center;
}
.search{
    display: flex;
    margin: auto;
    align-items: center;
}
.search input{
    padding: 5px 25px;
    outline-color: rgb(46, 42, 42);
}
div.navbar{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: 0 0 1px black;
    background-color: rgba(43, 41, 41, 0.938);
}
div.navbar .logo img{
    width: 60px;
    border-radius: 50%;
    padding: 10px;
    transition: 1s ease;
}
div.menubar{
    display: flex;
    align-items: center;
    padding: 0 25px;
}
div.menubar ul{
    display: flex;
}
div.menubar ul li{
    list-style-type: none;
    padding: 0 5px;
}
div.menubar ul li a{
    text-decoration: none;
    color: white;
    filter: drop-shadow(0 0 1px black);
}
div.menubar ul li a:hover{
    border-bottom:1px solid white;
    padding-bottom: 5px;
}

@keyframes logo {
    0%{ transform: translateX(15px); }
    50%{ transform: translateX(80px); }
    100%{ transform: translateX(15px); }
}

div.navbar .logo img{
    animation: logo 2s ease-in-out infinite;
}

.deconnexion:hover{
    color: red;
    border: 1px solid red !important;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#bgVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents {
    padding: 10px 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Assurez-vous que le texte est lisible sur la vidéo */
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); /* Optionnel : Ajoute une légère transparence pour améliorer la lisibilité */
    text-align: center; /* Optionnel : Centre le texte */
}

.edit{
    display: flex;
    justify-content: center;
    padding-top: 25vh;
}
form{
    text-align: center;
    border: 0.2px dashed black;
    border-radius: 5px;
    padding: 10px 5px;
}
.ensemble{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.foreach-admin{
    width:250px; 
    border-radius: 5px;
    padding: 5px 10px;
    margin: 25px 0;
    background-color: rgb(236, 236, 236);
}

.show_ensemble{
    display: flex;
    background-color: beige;
}
.afficher_image{
    border-radius: 5px;
    width: 100%;
}
.show_image{
    width: 50%;
}
.show_title_product{
    padding: 0 20px;
}

.show_description{
    margin: 35px 0;
    border: 1px dashed red;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
    margin: 5px 150px;
}


.edit_ensemble{
    display:flex;
    justify-content:center;
    padding:20px 10px;
    background-color: rgb(238, 234, 234);
}
input{
    padding:1px 0;
}
.bodiest{
    margin: 10px 50px;
    text-align:center;
}

.nom_admin{
    color:white;
    animation: nom_admin 2s infinite;
    transition: 1s ease;
    box-shadow: 0 0 1px white;
    padding: 5px 10px;
    cursor: pointer;
}
@keyframes nom_admin {
    0%{
        filter:drop-shadow(0 0 5px red);
    }
    50%{
        filter:drop-shadow(0 0 1px green);
    }
    75%{
        filter:drop-shadow(0 0 1px orange);
    }
    100%{
        filter:drop-shadow(0 0 1px red);
    }
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}
.footer a {
    color: #ffc107;
}
.footer a:hover {
    color: #ffd700;
    text-decoration: none;
}
.footer .social-icons a {
    margin: 0 10px;
    color: white;
}