@font-face {
    font-family: dosis;
    src: url(../font/Dosis-VariableFont_wght.ttf)
}
*{
    font-family: 'doris';
}
form{
    font-size: large;
}
input::placeholder{
    font-size: large;
}
.btn{
    padding: 10px 20%;
    border-radius: 5px;
    color: white;
    background-color: skyblue;
    font-size: 20px;
}
.btn:hover{
    background-color: aquamarine;
    transform: scale(1.02);
    cursor: pointer;
}
body{
    margin: 0;
    background-image: url(../images/Fonds/inscriptions.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: right;
}
.navmenu ul{
    display: flex;
    margin-right: 100px;
}
.navbar ul li{
    padding-left:5%;
    list-style-type: none;
}
.navbar a{
    display: block;
    text-decoration: none;
    text-shadow: 2px 2px black;
    color: white;
}
.navbar a:hover{
    color: red;
}
fieldset{
    text-align: center;
    background: rgba(10, 10, 250, 0.753);
    color: white;
    text-shadow: 5px 5px 10px black;
    border-radius: 15px;
    border: none;
}
fieldset tr{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 5vw;
}
.body{
    margin-left: 6.4vw;
    margin-right: 50%;
}
table td{
    padding-top: 5%;
}
.nul{
    text-align: center;
}
fieldset input:hover{
    border: none;
}
input{
    width: 65%;
    padding: 1%;
    margin: 2% 0;
    border: none;
    border-bottom: 1px solid #bbb;
}
.body{
    color: #555;
    text-align: center;
}
.body h1{
    color: #333;
    margin-left: 3vw;
}
#check{
    margin:0;
    width: 2%;
    margin-right: 2%;
}
.check{
    text-align: left;
    display: flex;
    margin-left: 7.5vw;
}
@media screen and (max-width: 952px){
    body{
        background: url(./image/abstract-flowing-lines-background.jpg);
        background-size: 500vw;
    }
    .body{
        margin: 0;
    }
    .body h1{
        color: #CCC;
    }
    .body p{
        color: #DDD;
    }
    input{
        color: blue;
        width: 45%;
    }
    #envoyer{
        width: 20%;
    }
    .check{
        display: none;
    }
}