*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contents{
    background-color: #222;
}
@keyframes myanimation{
    0%{
        transform: rotateY(180deg);
    }
    25%{
        transform: rotateZ(180deg);
    }
    75%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.logo img{
    animation-name: myanimation;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
    transition: 1s ease;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-width: 50px;
  }
  
  .menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menubar li {
    margin-right: 20px;
    position: relative;
  }
  
  .menubar li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .menubar li:hover .dropdown {
    display: block;
  }

  .dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; /* Ajout de cette ligne */
  }
  
  .consolegame {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Ajout de cette ligne */
  }
  
  .dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown li {
    width: 100%;
  }
  
  .dropdown li a {
    color: #faf8f8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown li a:hover {
    background-color: #ddd;
  }
  
  .console img {
    border-radius: 50%;
    margin-right: 5px;
  }
  .console:hover .consolegame {
    display: block;
  }
  
  /* Content Styles */
  .contents {
    padding: 20px;
  }
  
  /* Footer Styles */
  footer {
    color: #fff;
    padding: 20px;
  }
  
  footer h1 {
    margin-top: 0;
  }
  
  footer p {
    margin-bottom: 0;
  }


.intro img{
    width: 100%;   
    height: calc(10rem + 25vw);
}
.title{
    text-shadow: 0px 15px 10px rgba(217, 255, 0, 0.432);
    line-height: 40px;
    position: absolute;
    top: 18vw;
    justify-content: center;
    width: 50%;
    color: #EEE;
    background-color: #222222c7;
    padding: 50px;
    border-radius: 0 15px 15px 0;
}
.title h1,
.title p{
    filter: drop-shadow(0 0 1px white);
}
#red{
    color: blue;
}
.title button{
    margin-top: 1.5vw;
    padding: 15px 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
}
.title button:hover{
    cursor: pointer;
}
/* INPUT SEARCH */
.body{
    margin: 0 5% ;
}
#search{
    position: relative;
    left:85%;
    top: -30px;
    border-left: 1px solid #555;
    padding-left: 20px;
}
#erreur{
    display: none;
    color: red;
}
.input input{
    margin-top: 50px;
    padding: 10px;
    width: 95%;
    outline: none;
}
.R_Added{
    margin: 20px 0;
    color: white;
}
#more{
    padding: 15px;
    color: white;
    background-color: brown;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#more:active{
    transform: scale(1.2);
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Added img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* test drop */

.drop{
    cursor: pointer;
    position: relative;
    display: inline;
}
.dropdown, .consolegame{
    background-color: #222222b6;
}
.dropdown ul li:hover, .consolegame ul li:hover{
    background-color: #240b0b;
}
.dropdown ul, .consolegame ul{
    display: flex;
    flex-direction: column;
}
.dropdown.show{
    display: block;
}
.dropdown a{
    filter: drop-shadow(0 0 1px black);
}

.console{
    cursor: pointer;
}
.consolegame.show{
    display: block;
}

/* animation rotation */
.rotate{
    transition: 1s ease;
    transform: rotate(180deg);
}
#drop{
    transition: 0.2s ease;
}
#drop1{
    transition: 0.2s ease;
}
/* footer */
footer{
    margin: 10% 50% 0 5%;
}
footer h1{
    color: brown;
    text-decoration:underline;
    font-variant: small-caps;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer p{
    margin-top: 5%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.card-image {
    position: relative;
    overflow: hidden;
}

.card-image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.959);
    color: rgb(116, 115, 115);
    padding: 1rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-image:hover .card-image-overlay {
    transform: translateY(0);
}
.card-title{
    filter: drop-shadow(0 0 0.5px white);
}
.card-img-top{
    margin: 10px 0;
    width: 180px;
    max-height: 235px;
}




        .image-scroller {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.scroller-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.scroller-item.active {
  opacity: 1;
}

.scroller-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
    